<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Confirmation</title>
</head>

<body>
    <h3>Student Confirmation</h3>
    The student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}" />
    <br>
    Country: <span th:text="${student.country}" />
    <br>
    Favorite Language: <span th:text="${student.favLanguage}" />
    <br>
    <!-- Favorite Operating Systems: <span th:text="${student.favoriteSystems}" /> -->
    <ul>
        <li th:each=" item : ${student.favoriteSystems}" th:text="${item}" />
    </ul>

</body>

</html>