<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Registration Form</title>
</head>

<body>
    <h3>Student Registration Form</h3>
    <form th:action="@{/processStudentForm}" th:object="${student}" method="post">
        First Name: <input type="text" th:field="*{firstName}" />
        <br><br>
        Last Name: <input type="text" th:field="${student.lastName}" />
        <br><br>
        Country:
        <select th:field="*{country}">
            <option th:each="item: ${countries}" th:value="${item}" th:text="${item}">
        </select>
        <br><br>
        Favourite Programming Language:
        <input type="radio" th:each="item : ${languages}" th:field="*{favLanguage}" th:value="${item}" th:text="${item}"/>
        <br><br>
        <input type="submit" value="Submit" />
    </form>
</body>

</html>